body {
	font-family: sans-serif;
    background: linear-gradient(135deg, #363636, #1d1d1d);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    position: relative;
	text-align: center;
	width: 100%;
    max-width: 400px;
    margin-right: 40px;
}

.logo-container img {
	width: 100%;
}

.login-container {
	position: relative;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

button {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: #fff;
    background: #606366;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
    
button:hover {
    background: #000000;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #363636;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #363636;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #363636;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label, 
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.title h1 {
    color: rgb(0, 0, 0);
}

.container-footer {
    background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}