body {
    font-family: sans-serif;
}
/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
nav li {
    display: inline-block;
    margin-left: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover {
    color: #ccc;
}

/* Estilos para a tabela de usuários */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid #333;
}
td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer p {
    margin: 0;
    font-size: 18px;
}